<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.jl.myweb.mapper.GoodsMapper">
	<!-- 查找热销商品 -->
	<!-- List<Goods> findHotGoods() -->
	 <select id="findHotGoods"
        resultType="cn.jl.myweb.entity.Goods">
        SELECT 
            id, title, price, image
        FROM 
            t_goods 
        WHERE 
            status=1 AND num>10
        ORDER BY
            priority DESC
        LIMIT 
            0,4
    </select>
    
	<!-- 根据id查询商品详情 -->
	<!-- Goods findById(Long id) -->
	<select id="findById"
	    resultType="cn.jl.myweb.entity.Goods">
	    SELECT 
	        image, title, 
	        sell_point AS sellPoint, 
	        price, num, 
	        status
	    FROM 
	        t_goods 
	    WHERE 
	        id=#{id}
	</select>

</mapper>