<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.jl.myweb.mapper.UserMapper">
	
	<!-- 插入用户数据 -->
	<!-- Integer insert(User user) -->
	<insert id="insert">
		INSERT INTO t_user (
			username, password,
			salt, gender,
			phone, email,
			avatar, is_delete,
			created_user, created_time,
			modified_user, modified_time
		) VALUES (
			#{username}, #{password},
			#{salt}, #{gender},
			#{phone}, #{email},
			#{avatar}, #{isDelete},
			#{createdUser}, #{createdTime},
			#{modifiedUser}, #{modifiedTime}
		)
	</insert>
	
	
	
	<!-- 根据用户名查询用户数据 -->
	<!-- User findByUsername(String username) -->
	<select id="findByUsername"
		resultType="cn.jl.myweb.entity.User">
		SELECT 
			uid, username,
			password, salt, 
			avatar,
			is_delete AS isDelete
		FROM 
			t_user 
		WHERE 
			username=#{username}
	</select>

	<!-- 根据用户uid查找用户数据 -->
	<!-- User findByUid(Integer uid) -->
	<select id="findByUid" resultType="cn.jl.myweb.entity.User">
		SELECT
			password,salt,
			is_Delete AS isDelete
		FROM
			t_user
		WHERE
			uid=#{uid}
	</select>
	<!-- 修改用户密码 -->
	<!--Integer updatePassword (
	@Param(uid) Integer uid,
	@Param(password) String password,
	@Param(modifiedUser) String modifiedUser,
	@Param(modifiedTime) Date modifiedTime)-->
	<update id="updatePassword" >
		UPDATE
			t_user
		SET
			password=#{password},
			modified_User=#{modifiedUser},
			modified_Time=#{modifiedTime}
		WHERE
			uid=#{uid}
	</update>


</mapper>






